@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: oklch(0.508 0.202 29.7);
  --color-secondary: hsl(216.1 100.0% 50.0%);
  --color-accent: oklch(0.315 0.107 285.8);
  --depth: 1;
  --noise: 1;
}