@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
};
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: oklch(0.508 0.202 29.7);
  --color-secondary: oklch(0.563 0.60218 260.818);
  --color-accent: oklch(0.315 0.107 285.8);
  --color-accent-content: oklch(0.94 0.028 342.258);
  --depth: 1;
  --noise: 1;
}