---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/hero.astro";
---

<BaseLayout title="Southern Comfort Total Home Care | Handyman Services">
	<Hero />
	<article class="flex-col items-center justify-center mx-auto px-[calc(0.5rem+5vw)]">
		<h3 class="text-slate-300 text-4xl font-semibold text-pretty mt-8 mb-2">Service Area</h3>
		<p class="text-slate-300 text-pretty text-lg">
			Our service area includes: Carroll County, GA · Douglas County, GA ·
			Douglasville, GA · Paulding County, GA · Haralson County, GA ·
			Rockmart, GA · Dallas, GA · Hiram, GA · Polk County, GA · Cedartown,
			GA
		</p>
		<h3 class="text-4xl font-semibold text-pretty mt-8 mb-2">Lorem Ipsum</h3>
		<p class="text-pretty text-lg">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nulla
			et rem vel, quisquam reiciendis modi asperiores mollitia a, aliquid
			labore consectetur tenetur? Nulla, vero! Enim vitae illo laborum
			iusto?
		</p>
	</article>
</BaseLayout>