---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/hero.astro";
---

<BaseLayout title="Southern Comfort Total Home Care | Handyman Services">
	<Hero />
	<article class="flex-col items-center justify-center">
		<p class="flex items-center justify-center text-slate-300 text-pretty px-6 my-5 mx-auto">
			Our service area includes: Carroll County, GA · Douglas County, GA ·
			Douglasville, GA · Paulding County, GA · Haralson County, GA ·
			Rockmart, GA · Dallas, GA · Hiram, GA · Polk County, GA · Cedartown,
			GA
		</p>
		<p class="flex items-center justify-center text-pretty px-6 mx-auto">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nulla
			et rem vel, quisquam reiciendis modi asperiores mollitia a, aliquid
			labore consectetur tenetur? Nulla, vero! Enim vitae illo laborum
			iusto?
		</p>
	</article>
</BaseLayout>
