---
import { Image } from "astro:assets";

import logojpg from "../media/logojpg.jpg";

const { image = logojpg } = Astro.props;
const { title = "Set a Title" } = Astro.props;
const { content = "Set the content" } = Astro.props;
---

<div
    class="card my-card flex-grow max-h-[85dvh] max-[791px]:h-120 max-[1204px]:h-64 min-[1204px]:h-96 min-[791px]:w-[80dvw] lg:w-[32.5rem] min-[791px]:card-side bg-base-100 shadow-lg border-1 border-slate-900 hover:sm:-translate-y-3 hover:border-slate-700 -border-spacing-1 transition delay-[50] duration-150 ease-in-out"
>
    <figure class="w-full">
        <Image
            src={image}
            alt="card"
            loading={"lazy"}
            class="object-cover min-[791px]:w-60"
        />
    </figure>
    <div class="card-body min-[791px]:w-70">
        <h2 class="card-title text-nowrap text-2xl text-center">{title}</h2>
        <p class="text-lg text-pretty">{content}</p>
    </div>
</div>
<style scoped>
    .my-card {
        font-family: "Noto Color Emoji", sans-serif;
    }

    :global(.card-holder) .my-card:hover {
        transform: scale(1.025);
        box-shadow:
            0 0 1rem rgba(0, 0, 0, 0.75),
            0 1rem 2rem rgba(0, 0, 0, 0.5),
            0 2rem 4rem rgba(0, 0, 0, 0.25);
        background-color: var(--color-primary, firebrick);
        transition-delay: 0s;
    }

    :global(.card-holder:has(.my-card:hover)) .my-card:not(:hover) {
        filter: brightness(0.85);
        transform: scale(0.95);
        opacity: 0.65;
        transition-delay: 0s;
    }
</style>
