---
import { getImage } from "astro:assets";
import hero from "../media/hero.jpg";
import leather from "../media/leather.png"

const optimizedHero = await getImage({src: hero, format: 'webp'})
const optimizedLeather = await getImage({src: leather, format: 'webp'})

---

<div class="hero min-h-screen" style={`background-image: url(${optimizedHero.src});`} ;>
    <div class="hero-overlay"></div>
    <div
        class="hero-content text-neutral-content text-center glass rounded-2xl"
    >
        <div class="max-w-md p-4">
            <div
                class="rounded-2xl bg-yellow-950 ring-3 ring-orange-950 outline-2 outline-dashed outline-gray-400 -outline-offset-8 drop-shadow-xl shadow-xl py-6 mb-5"
                style={`background-image: url(${optimizedLeather.src})`}
                >
                <h1
                    class="text-6xl font-bold font-serif text-accent/50 brightness-50 drop-shadow-lg"
                >
                    Southern Comfort
                </h1>
                <h2
                    class="text-2xl font-sans font-medium text-white/25 italic tracking-widest mt-1"
                >
                    Total Home Care
                </h2>
            </div>
            <p class="text-pretty">
                Welcome to Southern Comfort Total Home Care. We are here to
                provide our customers with top notch handyman services,
                including home repairs, renovation, installation, and building
                projects. Please let us know how we can help. We look forward to
                serving you!
            </p>
            <button
                class="btn btn-accent text-sky-50 rounded-full px-8 mt-5 hover:pb-0.75 hover:saturate-200 hover:animate-none focus:pb-0.75 focus:saturate-200 focus:animate-none active:saturate-50 active:animate-none"
                >Contact Us</button
            >
        </div>
    </div>
</div>

<style scoped>
    .glass {
        --glass-blur: 4px;
        --glass-opacity: 15%;
    }
    h1 {
        text-shadow:
            0 -1px 1px rgba(255, 245, 245, 0.15),
            0 3px 3px rgba(255, 235, 235, 0.25),
            0 -3px 3px rgba(40, 0, 0, 0.75),
            0 0 6px rgba(0, 0, 0, 1);
    }
    h2 {
        text-shadow:
            0 -1px 1px rgba(245, 245, 255, 0.15),
            0 2px 2px rgba(245, 245, 255, 0.25),
            0 -2px 2px rgba(0, 0, 0, 0.75),
            0 0 4px rgba(0, 0, 0, 1);
    }
</style>
