---
import hero from "../media/hero.jpg";
---

<div class="hero min-h-screen" style={`background-image: url(${hero.src});`} ;>
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center glass rounded-lg">
        <div
            class="max-w-md p-4 border-2 border-gray-400 border-dashed rounded-lg"
        >
            <h1
                class="text-6xl font-bold font-serif text-primary drop-shadow-2xl"
            >
                Southern Comfort
            </h1>
            <h2
                class="text-2xl font-sans font-normal text-accent italic tracking-widest mb-3 mt-1"
            >
                Total Home Care
            </h2>
            <p class="text-pretty">
                Welcome to Southern Comfort Total Home Care. We are here to
                provide our customers with top notch handyman services,
                including home repairs, renovation, installation, and building
                projects. Please let us know how we can help. We look forward to
                serving you!
            </p>
            <button
                class="btn btn-secondary rounded-full px-8 mt-5 mb-3 hover:pb-0.75 hover:saturate-200 hover:animate-none focus:pb-0.75 focus:saturate-200 focus:animate-none active:saturate-50 active:animate-none"
                >Contact Us</button
            >
        </div>
    </div>
</div>

<style scoped>
    .glass {
        --glass-blur: 4px;
        --glass-opacity: 15%;
    }
    h1 {
        text-shadow:
            0 -1px 1px rgba(245, 245, 255, 0.65),
            0 2px 5px rgba(0, 0, 0, 0.55);
    }
    h2 {
        text-shadow: 0 -1px 3px rgba(245, 245, 255, 0.45);
    }
</style>
