---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
const { title = "Astro + Tailwind v4" } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="/Southern_Comfort_Total_Home_Care_LLC/tailwind.css"
    />
    <link
      rel="icon"
      href="/Southern_Comfort_Total_Home_Care_LLC/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body
    id="home"
    class="bg-slate-900 text-primary-content min-w-fit min-h-screen flex-col items-center justify-center"
  >
    <Navbar />
    <main class="w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
